<h1>Image Scrapping</h1>
<div class="ajax-loader" style="top:15px;"></div>
<%= form_tag scrapping_index_path, :method => "get", :html => { :class => 'navbar-form navbar-search pull-left search_form'},remote: true  do |f| %>
    <%= url_field_tag 'search_url','' , placeholder:"URL Starts With http:// or https://", class: "search-query"%>
    <%= button_tag "Submit", :id => "submit_url",:data => { :disable_with =>  "Please wait..." }, :class => "btn" %>

<%end%>

<div id="paginate_data">
  <%= render partial: "site_images" %>
</div>

<%= javascript_include_tag 'scrapping.js' %>


